{% extends 'dashbase.html' %}
{% load static %}
{% block content %}
 <!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="row">
            <!-- ===============STUDENT=============== -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="card card-statistic-1">
                    <div class="card-icon bg-primary">
                        <i class="fas fa-user-graduate"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4>Student</h4>
                        </div>
                        <div class="card-body">
                            10
                        </div>
                    </div>
                </div>
            </div>
            <!-- ===============ENDSTUDENT=============== -->
            
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="card card-statistic-1">
                    <div class="card-icon bg-danger">
                        <i class="fas fa-user-tie"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4>Teacher</h4>
                        </div>
                        <div class="card-body">
                            42
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="card card-statistic-1">
                <div class="card-icon bg-warning">
                    <i class="far fa-file"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                    <h4>Reports</h4>
                    </div>
                    <div class="card-body">
                    1,201
                    </div>
                </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="card card-statistic-1">
                <div class="card-icon bg-success">
                    <i class="fas fa-circle"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                    <h4>Online Users</h4>
                    </div>
                    <div class="card-body">
                    47
                    </div>
                </div>
                </div>
            </div>                  
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Sortable Table</h4>                   
                        <div class="card-header-action">
                            <div class="row">
                             <!-- ============FILTER SELECTBOX============ -->
                                <div class="col">  
                                    <span class="text-primary"><i class="fas fa-filter filter-icon"></i><style>.filter-icon{font-size: 1em;}</style></span>
                                    <select class="form-select"  aria-label="Year">                                
                                        <option value="1">2010</option>
                                        <option value="2">2011</option>
                                        <option value="3">2012</option>
                                        <option value="1">2010</option>
                                        <option value="2">2011</option>
                                        <option value="3">2012</option>
                                        <option value="1">2010</option>
                                        <option value="2">2011</option>
                                        <option value="3">2012</option>
                                    </select>
                                    <style>select   {width: 200px; padding: 5px;font-size: 16px;border: 1px solid #ccc;border-radius: 4px;background-color: #fff;}
                                                    select::-ms-expand {display: none;}select::after {content: '▼'; position: absolute;top: 50%;right: 10px;transform: translateY(-50%);pointer-events: none; }
                                    </style>
                                </div>
                             <!-- ============ENDFILTER============ -->

                                <form  method="GET" action="{% url 'student_details' %}">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input name="q" type="text" class="form-control" placeholder="Search">
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-striped mb-0" id="myTable">
                                <thead > 
                                    <tr id="chk-th">
                                        <th><i class="fas fa-th"></i></th>
                                        <th>Name</th>
                                        <th>Email</th>                                    
                                        <th>Phone</th>
                                        <th>Gender</th>
                                        <th>ID Card</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>                         
                                    {% for i in student %}
                                    <tr>
                                        <td><div class="sort-handler"><i class="fas fa-th"></i></div></td>
                                        <td>{{i.student_name}}</td>
                                        <td>{{i.email}}</td>
                                        <td>{{i.contact_number}}</td>
                                        <td>{{i.gender}}</td>
                                        <td>
                                            <a class="btn btn-success btn-action" href="{% url 'id_student' i.id %}">
                                                <i class="fas fa-id-card"></i>
                                            </a>
                                        </td>
                                        <td><a href="{% url 'student_profile' i.id %}" class="btn btn-warning">Detail</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}